/*===== Start Header Area Css =====*/
.ufc-header-area {
    background-color: #0a0f24;
    padding: 30px 0;
}
.header-left-logo img {
    width: 110px;
    height: auto;
}

.header-right-top-content,
.ufc-header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ufc-header-content {
    justify-content: space-between;
}

.rfc-nav-menu ul,
.header-right,
.header-right-bottom-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-right-bottom-content {
    justify-content: flex-end;
    margin-top: 20px;
}

.rfc-nav-menu ul li {
    position: relative;
}

.rfc-nav-menu ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 5px 0;
    margin-right: 40px;
    position: relative;
    display: flex;
    align-items: center;
}
.rfc-nav-menu ul li a.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    transition: .2s;
}
.rfc-nav-menu ul li a.link:hover::after {
    width: 100%;
}

.rfc-nav-menu ul li a svg {
    font-size: 26px;
    margin-left: 3px;
}

.header-right img {
    width: 24px;
    height: auto;
    margin-left: 15px;
}

.dropdown-content {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    transition: .3s;
}
.rfc-nav-menu ul li:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}
.dropdown-content a {
    padding: 5px 10px;
    width: 100%;
    transition: .3s;
}

.header-right-bottom-button a {
    font-weight: 400;
    font-size: 16px;
    color: #1F1F1F;
    text-transform: capitalize;
    border: 1px solid transparent;
    padding: 6px 15px;
    border-radius: 30px;
    margin-right: 30px;
    transition: .3s;
}  
.header-right-bottom-button a:first-child {
    background: #E1C06E;
}
.header-right-bottom-button a:last-child {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: transparent;
}

.header-right-bottom-button a:first-child:hover {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.header-right-bottom-button a:last-child:hover {
    background: #E1C06E;
    color: #1F1F1F;
    border: 1px solid transparent;
}
.header-right-bottom-cart img {
    width: 35px;
    height: auto;
}


/*===== End Header Area Css =====*/