/*===== Start Header Area Css =====*/
.ufc-header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 30px 0;
}

.header-left-logo img {
    width: 110px;
    height: auto;
}

.header-right-top-content,
.ufc-header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ufc-header-content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rfc-nav-menu ul,
.header-right,
.header-right-bottom-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-right-bottom-content {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 20px;
}

.rfc-nav-menu ul li {
    position: relative;
}

.rfc-nav-menu ul li a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 5px 0;
    margin-right: 40px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rfc-nav-menu ul li a.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.rfc-nav-menu ul li a.link:hover::after {
    width: 100%;
}

.rfc-nav-menu ul li a svg {
    font-size: 26px;
    margin-left: 3px;
}

.header-right img {
    width: 24px;
    height: auto;
    margin-left: 15px;
}

.dropdown-content {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.rfc-nav-menu ul li:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

.dropdown-content a {
    padding: 5px 10px;
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.header-right-bottom-button a {
    font-weight: 400;
    font-size: 16px;
    color: #1F1F1F;
    text-transform: capitalize;
    border: 1px solid transparent;
    padding: 6px 15px;
    border-radius: 30px;
    margin-right: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.header-right-bottom-button a:first-child {
    background: #E1C06E;
}

.header-right-bottom-button a:last-child {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: transparent;
}

.header-right-bottom-button a:first-child:hover {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.header-right-bottom-button a:last-child:hover {
    background: #E1C06E;
    color: #1F1F1F;
    border: 1px solid transparent;
}

.header-right-bottom-cart img {
    width: 35px;
    height: auto;
}

.mobile-menu-icon {
    padding: 5px;
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    display: none;
}

.all-p-humber {
    width: 22px;
    height: 18px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 99;
}

.all-p-humber span {
    display: block;
    position: absolute;
    height: 2px;
    width: 22px;
    background: #FFFFFF;
    border-radius: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.all-p-humber span:nth-child(1) {
    top: 0px;
}

.all-p-humber span:nth-child(2),
.all-p-humber span:nth-child(3) {
    top: 7px;
}

.all-p-humber span:nth-child(4) {
    top: 14px;
}

.all-p-humber.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.all-p-humber.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.all-p-humber.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.all-p-humber.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/*===== End Header Area Css =====*/

/*===== Start Hero Area Css =====*/
.ufc-hero-area {
    background: url('/hero/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 0 485px;
    position: relative;
    z-index: 1;
}

.ufc-hero-area::before {
    content: '';
    position: absolute;
    background: url('/hero/before.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 735px;
    left: 0;
    bottom: 10px;
    z-index: -1;
}

.ufc-hero-left-text-content {
    max-width: 500px;
    padding-top: 40px;
}

.ufc-hero-right-image-content {
    display: none;
}

.gradient-border-button {
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    background: #21242D;
    padding: 18px 30px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 40px;
}

/* Gradient border using pseudo-element */
.gradient-border-button::before {
    content: "";
    position: absolute;
    inset: 0;
    /* Covers full button */
    border-radius: 50px;
    padding: 2px;
    /* Border thickness */
    background: -webkit-gradient(linear, left top, right top, from(#ff4d95), to(#4d76ff));
    background: -o-linear-gradient(left, #ff4d95, #4d76ff);
    background: linear-gradient(90deg, #ff4d95, #4d76ff);
    -webkit-mask:
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box,
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box,
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

/* Adding a hover effect (optional, but no bg gradient) */
.gradient-border-button:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-box-shadow: 0 0 10px rgba(255, 77, 149, 0.5);
    box-shadow: 0 0 10px rgba(255, 77, 149, 0.5);
}


/*===== End Hero Area Css =====*/

/* some sections bg  */
.ufc-some-sections {
    background: url('/bg-artwork.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 560px;
    margin-top: -570px;
    padding-bottom: 300px;
}


/*===== Start Category Area Css =====*/
.ufc-category-area {
    position: relative;
    padding-bottom: 150px;
    margin-top: -315px;
    z-index: 2;
}

.ufc-category-search-field {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.ufc-category-search-field input {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #30252D;
    padding: 23px 30px 23px 75px;
    border-radius: 40px;
    width: 100%;
    border: 1px solid #FFFFFF;
    margin-bottom: 75px;
}

.ufc-category-search-field input::-webkit-input-placeholder {
    color: #FFFFFF;
}

.ufc-category-search-field input::-moz-placeholder {
    color: #FFFFFF;
}

.ufc-category-search-field input:-ms-input-placeholder {
    color: #FFFFFF;
}

.ufc-category-search-field input::-ms-input-placeholder {
    color: #FFFFFF;
}

.ufc-category-search-field input::placeholder {
    color: #FFFFFF;
}

.ufc-category-search-field svg {
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    left: 30px;
    top: 20px;
    cursor: pointer;
}


.ufc-category-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 28px 1fr 28px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.category-item {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.category-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.category-item img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
    -webkit-transition: -webkit-filter 0.3s ease;
    transition: -webkit-filter 0.3s ease;
    -o-transition: filter 0.3s ease;
    transition: filter 0.3s ease;
    transition: filter 0.3s ease, -webkit-filter 0.3s ease;
    border-radius: 24px;
}

.category-item:hover img {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.category-overlay h4 {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 180px;
}

.ufc-category-content .category-item:nth-child(5) {
    margin-top: -70px;
}


/*===== End Category Area Css =====*/

/*===== Start Process Area Css =====*/

.ufc-our-offers-area {
    background-color: rgba(49, 65, 140, 0.3);
    padding: 50px 0;
}

.ufc-our-offers-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.single-ufc-our-offer img {
    height: 40px;
    width: auto;
    margin-right: 25px;
}

.single-ufc-our-offer p {
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    text-transform: capitalize;
}

/*===== End Process Area Css =====*/


/*===== Start Products Area Css =====*/
.ufc-products-area {
    padding: 160px 0;
}

.ufc-product-filter-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 60px;
}

.ufc-product-filter-button button {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: capitalize;
    list-style: normal;
    padding: 20px 28px;
    border: 1px solid #FFFFFF;
    background: transparent;
    border-radius: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.ufc-product-filter-button button:hover,
.ufc-product-filter-button button.active {
    background-color: #E1C06E;
    color: #1F1F1F;
    border: 1px solid #E1C06E;
}

.all-ufc-product-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.single-ufc-product {
    background-color: rgba(49, 65, 140, 0.3);
    border-radius: 12px;
    position: relative;
    min-height: 255px;
}

.single-ufc-category-btn button {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    text-transform: inherit;
    line-height: normal;
    padding: 6px 10px;
    width: 133px;
    text-align: center;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#D78C6C), to(#A75356));
    background-image: -o-linear-gradient(left, #D78C6C, #A75356);
    background-image: linear-gradient(to right, #D78C6C, #A75356);
}

.recurring-plan button {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3D2836), to(#452E3B));
    background-image: -o-linear-gradient(top, #3D2836, #452E3B);
    background-image: linear-gradient(to bottom, #3D2836, #452E3B);
    border: none;
    outline: none;
    border-left: 1px solid #D58A6B;
    border-bottom: 1px solid #D58A6B;

}

.single-ufc-product-img-text {
    padding-top: 22px;
}

.single-ufc-product-img-text.flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.single-ufc-product-text h5 {
    font-weight: 500;
    font-size: 18px;
    color: #D78C6C;
    background: -webkit-gradient(linear, left top, left bottom, from(#c8943b), to(#ffcc70));
    background: -o-linear-gradient(top, #c8943b, #ffcc70);
    background: linear-gradient(to bottom, #c8943b, #ffcc70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 120px;
    margin-left: 20px;
}


.single-ufc-product-price-cart {
    background: rgba(31, 31, 31, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.single-ufc-product-price-cart p {
    font-size: 12px;
    padding: 20px 0;
    padding-left: 25px;
}

.single-ufc-product-price-cart a {
    background: -webkit-gradient(linear, left top, left bottom, from(#c8943b), to(#ffcc70));
    background: -o-linear-gradient(top, #c8943b, #ffcc70);
    background: linear-gradient(to bottom, #c8943b, #ffcc70);
    padding: 20px 30px;
    border-bottom-right-radius: 12px;
}

.ufc-product-filtering-button::-webkit-scrollbar {
    display: none;
}

.ufc-product-filtering-button {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ufc-buttons {
    width: 1260px;
    overflow-x: auto;
}

.ufc-product-filtering-button button {
    margin-right: 13px;
}

.filter-prev-button,
.filter-next-button {
    background: rgba(225, 192, 110, 1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    margin: 0 13px;
}

.pagination-buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px;
}

/*===== End Products Area Css =====*/


/*===== Start Convenience Area Css =====*/

.ufc-convenience-area {
    background: url('/convenience.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 95px;
    padding-bottom: 560px;
    margin-top: -300px;
    position: relative;
}

.ufc-convenience-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.ufc-convenience-left-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
}

.ufc-convenience-right-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
}

.single-ufc-convenience-right {
    margin-bottom: 18px;
}

.single-ufc-convenience-right p {
    margin-left: 20px;
}


/*===== End Convenience Area Css =====*/

/*===== Start Testimonials Area Css =====*/
.ufc-testimonials-area {
    background: url('/bg-artwork.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
    background-position: center;
    padding-top: 600px;
    padding-bottom: 630px;
    margin-top: -450px;
}


.ufc-testimonials-area h3 {
    text-align: center;
}

.ufc-testimonial-card {
    background: url('/testimoinals/item-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 30px 40px;
}

.testimonial-quote {
    margin-bottom: 15px;
}

.ufc-testimonial-card p {
    line-height: 1.5;
}

.ufc-testimonial-card .stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px 0;
}

.ufc-testimonial-card .stars img {
    width: 24px;
    height: auto;
    margin: 0 3px;
}

.ufc-testimonial-card .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ufc-testimonial-card .profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 20px;
}

.ufc-testimonial-card .profile h4 {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.ufc-testimonial-card .profile p {
    font-weight: 700;
    font-size: 16px;
    color: #A18F90;
    text-transform: capitalize;
    margin-top: 8px;
}

.swiper-pagination-bullet {
    background: #3B3B41;
    width: 16px;
    height: 16px;
    margin: 0 10px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #B9B8B8;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
}

.swiper-backface-hidden .swiper-slide {
    margin-bottom: 60px;
}


/*===== End Testimonials Area Css =====*/








/*===== Start Footer Area Css =====*/
.ufc-footer-area {
    background-image: url('/footer/f-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1C1C1C;
    padding: 80px 0 0;
    margin-top: -500px;
}

.ufc-top-footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.ufc-top-footer-left-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
}

.ufc-top-footer-middle-content,
.ufc-top-footer-right-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    padding: 10px 0;
    padding-left: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.single-ufc-top-footer-content img {
    margin-right: 10px;
}

.single-ufc-top-footer-content p {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.single-ufc-top-footer-content a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: inherit;
    line-height: normal;
    margin-top: 25px;
    display: block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.single-ufc-top-footer-content a:hover {
    color: #000000;
}

.ufc-top-footer-middle-content .single-ufc-top-footer-content:last-child {
    margin-top: 75px;
}


.rizz-pharma-img img {
    width: 100%;
    height: auto;
}

.ufc-top-footer-left-txt-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 380px;
    border: 2px solid #4B5795;
    padding: 40px 30px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gradient-border {
    position: relative;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    background: #0a0a0a;
    /* Inner background color */
    border-radius: 15px;
    display: inline-block;
}

.gradient-border::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: -o-linear-gradient(45deg, #ff0000, #ff7300, #ffeb00);
    background: linear-gradient(45deg, #ff0000, #ff7300, #ffeb00);
    border-radius: 20px;
    /* Ensure it matches parent border-radius */
    z-index: -1;
}


.ufc-top-footer-left-txt-input h3 {
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.ufc-top-footer-left-txt-input p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: inherit;
    list-style: normal;
    max-width: 265px;
    text-align: center;
    margin: 15px auto;
    line-height: 1.5;
}

.ufc-top-footer-left-input-field {
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ufc-top-footer-left-input-field input {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: inherit;
    line-height: normal;
    background: transparent;
    border: none;
    padding: 5px 0;
    width: 100%;
}

.ufc-top-footer-left-input-field input::-webkit-input-placeholder {
    color: #FFFFFF;
}

.ufc-top-footer-left-input-field input::-moz-placeholder {
    color: #FFFFFF;
}

.ufc-top-footer-left-input-field input:-ms-input-placeholder {
    color: #FFFFFF;
}

.ufc-top-footer-left-input-field input::-ms-input-placeholder {
    color: #FFFFFF;
}

.ufc-top-footer-left-input-field input::placeholder {
    color: #FFFFFF;
}

.ufc-top-footer-left-input-field button {
    background: transparent;
    border: none;
}

.ufc-middle-footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.ufc-middle-footer-left-content {

    -webkit-box-flex: 0;

    -ms-flex: 0 0 40%;

    flex: 0 0 40%;
}

.ufc-middle-footer-left-img {
    max-width: 380px;
    text-align: center;
}

.ufc-middle-footer-left-content img {

    height: 105px;
}

.ufc-middle-footer-right-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    padding-left: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ufc-middle-footer-right-socials a {
    width: 36px;
    height: 36px;
    background-color: #434B76;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;

}

.ufc-middle-footer-right-socials a img {
    height: 15px;
    width: auto;
}

.ufc-middle-footer-right-text {
    margin-top: 25px;
}

.ufc-middle-footer-right-text img {
    height: 72px;
}

.ufc-middle-footer-right-text p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: inherit;
    margin-left: 15px;
    line-height: 1.6;
    width: 65%;
}

/*===== End Footer Area Css =====*/




/*==============================*****====================================*/
/*==========*****       START MOBILE RESPONSIVE CSS       *****==========*/
/*==============================*****====================================*/

/*===== Minimum Width Code  =====*/
@media all and (min-width: 3000px) {
    .ufc-hero-area::before {
        bottom: 0;
    }
}

@media all and (min-width: 1700px) {
    .ufc-hero-area {
        background-size: contain;
    }
}


/*===== Maximum Width Code  =====*/

@media all and (max-width: 1199px) {
    h1 {
        font-size: 71px;
    }

    h4 {
        font-size: 30px;
    }

    .category-overlay h4 {
        width: 150px;
    }

    .ufc-category-content {
        gap: 20px;
    }

    .ufc-category-content .category-item:nth-child(5) {
        margin-top: -62px;
    }

    .all-ufc-product-content {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    }

}

@media all and (max-width: 991px) {
    .header-left-logo img {
        width: 95px;
    }

    .rfc-nav-menu ul li a,
    .header-right-bottom-button a {
        margin-right: 22px;
    }

    .rfc-nav-menu ul li a svg {
        font-size: 22px;
    }

    .ufc-top-footer-middle-content,
    .ufc-top-footer-right-content {
        padding-left: 35px;
    }

    .ufc-hero-left-text-content {
        max-width: 100%;
    }

    .ufc-hero-area {
        padding: 150px 0 485px;
    }

    .ufc-hero-area {
        background: url('/hero/hero-mobile.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ufc-hero-area::before {
        height: 660px;
        left: 0;
        bottom: 125px;
        z-index: 1;
        -webkit-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
        transform: rotate(6deg);
    }

    .ufc-hero-right-image-content {
        display: block;
        margin-top: 20px;
    }

    .ufc-hero-right-image-content img {
        width: 100%;
        height: auto;
    }

    .ufc-category-search-field input {
        font-size: 18px;
        padding: 18px 30px 19px 70px;
        margin-bottom: 60px;
    }

    .ufc-category-search-field svg {
        font-size: 27px;
        left: 30px;
        top: 16px;
    }

    .ufc-category-search-field {
        max-width: 530px;
    }

    .ufc-category-content {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }

    .ufc-category-content .category-item:nth-child(5) {
        margin-top: 0;
    }

    .category-item {
        border-radius: 20px;
    }

    .category-item img {
        height: 400px;
        border-radius: 20px;
    }

    .category-item:hover {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
    }

    .ufc-category-area {
        margin-top: -400px;
    }

    .single-ufc-our-offer.flex {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        margin: 7px 0;
    }

    .ufc-category-area {
        padding-bottom: 100px;
    }

    .ufc-convenience-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .ufc-convenience-right-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-top: 30px;
    }

    .ufc-convenience-area {
        padding-top: 70px;
        padding-bottom: 400px;
    }

    .ufc-products-area {
        padding: 100px 0;
    }

    .all-ufc-product-content {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }

    .ufc-testimonials-area {
        padding-top: 545px;
        padding-bottom: 590px;
    }

}

@media all and (max-width: 767px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 40px;
        margin-bottom: 35px;
    }

    h4 {
        font-size: 25px;
    }

    .category-item img {
        height: 300px;
    }

    .category-overlay h4 {
        top: 20px;
        left: 20px;
        width: 130px;
    }

    .ufc-hero-area::before {
        height: 570px;
        bottom: 180px;
    }

    .header-right {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .rfc-nav-menu ul {
        background-color: #0a0f24;
        padding: 20px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        left: 0;
        top: 175px;
        visibility: hidden;
        opacity: 0;
        z-index: 5;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }

    .rfc-nav-menu ul li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .rfc-nav-menu ul li {
        width: 100%;
        padding: 5px 0;
        border-bottom: 1px solid #FFFFFF;
    }

    .rfc-nav-menu ul li:last-child {
        border-bottom: 0;
    }

    .rfc-nav-menu ul.showMenu {
        visibility: visible;
        opacity: 1;
    }

    .rfc-nav-menu ul li a {
        margin-right: 0;
    }

    .rfc-nav-menu ul li:hover .dropdown-content {
        position: inherit;
    }

    .header-right-bottom-cart {
        display: none;
    }

    .header-right-bottom-content {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        top: 73px;
    }

    .rfc-nav-menu ul li a,
    .header-right-bottom-button a {
        margin: 0 10px;
    }


    .ufc-footer-area {
        padding: 60px 0 0;
    }

    .ufc-top-footer-left-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .ufc-top-footer-middle-content,
    .ufc-top-footer-right-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        margin-top: 30px;
        padding-left: 0;
    }

    .ufc-top-footer-left-txt-input {
        max-width: 100%;
    }

    .ufc-middle-footer-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .ufc-middle-footer-right-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding-left: 0;
    }

    .ufc-middle-footer-right-text p {
        width: 100%;
    }

    .ufc-middle-footer-left-content img {
        margin-top: 20px;
    }

    .ufc-middle-footer-content {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .ufc-our-offers-area {
        padding: 30px 0;
    }

    .single-ufc-our-offer p {
        font-size: 20px;
    }

    .single-ufc-our-offer img {
        height: 35px;
        margin-right: 20px;
    }

    .ufc-category-area {
        padding-bottom: 80px;
    }

    .ufc-convenience-area {
        padding-top: 50px;
        padding-bottom: 200px;
    }

    .ufc-testimonial-card p {
        font-size: 16px;
    }

    .ufc-testimonial-card .stars img {
        width: 20px;

    }

    .ufc-testimonial-card .profile img {
        width: 50px;
        height: 50px;
    }

    .ufc-product-filter-button button {
        font-size: 15px;
        padding: 12px 20px;
    }

    .filter-prev-button,
    .filter-next-button {
        width: 45px;
        height: 45px;
        font-size: 22px;
        margin: 0 8px;
    }

    .single-ufc-product-img img {
        height: 135px;
        width: auto;
    }

    .ufc-product-filter-button {
        margin-bottom: 40px;
    }

    .ufc-products-area {
        padding: 60px 0;
    }

    .ufc-testimonials-area {
        padding-top: 520px;
        padding-bottom: 560px;
    }


}

@media all and (max-width: 575px) {

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 45px;
    }


    .header-right-bottom-content {
        left: 30%;
    }

    .ufc-top-footer-left-txt-input h3 {
        font-size: 35px;
    }

    .gradient-border-button {
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 30px;
    }

    .ufc-hero-area::before {
        height: 435px;
        bottom: 260px;
    }

    .ufc-category-content {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    }

    .category-item img {
        height: auto;
    }

    .ufc-category-search-field input {
        font-size: 16px;
        padding: 15px 30px 15px 60px;
        margin-bottom: 50px;
    }

    .ufc-category-search-field svg {
        font-size: 24px;
        left: 25px;
        top: 13px;
    }

    .ufc-category-area {
        margin-top: -440px;
    }

    .single-ufc-our-offer img {
        height: 30px;
        margin-right: 15px;
    }

    .single-ufc-our-offer p {
        font-size: 17px;
    }

    .ufc-convenience-area {
        padding-bottom: 100px;
    }

    .single-ufc-product-price-cart p {
        padding: 12px 0;
        padding-left: 15px;
    }

    .single-ufc-product-price-cart a {
        padding: 12px 20px;
    }

    .single-ufc-product {
        min-height: 190px;
    }

    .single-ufc-product-text h5 {
        font-size: 15px;
    }

    .single-ufc-product-img-text {
        padding-top: 45px;
    }

    .single-ufc-product-img img {
        height: 70px;
    }

    .ufc-testimonials-area {
        padding-top: 510px;
        padding-bottom: 550px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        margin: 0 7px !important;
    }

}

@media all and (max-width: 450px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 34px;
        margin-bottom: 35px;
    }

    p {
        font-size: 15px;
    }

    .ufc-category-area {
        padding-bottom: 65px;
    }

    .ufc-category-search-field input {
        font-size: 15px;
        padding: 14px 20px 14px 50px;
        margin-bottom: 40px;
    }

    .ufc-hero-area {
        padding: 135px 0 485px;
    }

    .ufc-category-search-field svg {
        font-size: 20px;
        left: 20px;
        top: 15px;
    }

    .ufc-hero-area::before {
        height: 300px;
        bottom: 330px;
    }

    .ufc-header-area {
        padding: 20px 0;
    }

    .gradient-border-button {
        font-size: 16px;
        padding: 13px 25px;
        margin-top: 25px;
    }

    .header-left-logo img {
        width: 70px;
    }

    .header-right-bottom-button a {
        font-size: 14px;
        padding: 5px 15px;
        margin: 0 5px;
    }

    .header-right-bottom-content {
        left: 12%;
        top: 53px;
    }

    .rfc-nav-menu ul {
        top: 125px;
    }

    .ufc-middle-footer-right-text img {
        height: 55px;
    }

    .ufc-middle-footer-right-text p {
        font-size: 14px;
    }

    .ufc-middle-footer-left-content img {
        height: 85px;
    }

    .ufc-top-footer-left-txt-input h3 {
        font-size: 30px;
    }

    .ufc-top-footer-left-input-field input {
        font-size: 15px;
    }

    .ufc-top-footer-left-txt-input {
        padding: 25px 19px;
    }

    .ufc-top-footer-left-input-field {
        padding: 8px 15px;
    }

    .single-ufc-top-footer-content a {
        font-size: 15px;
        margin-top: 15px;
    }

    .ufc-top-footer-middle-content .single-ufc-top-footer-content:last-child {
        margin-top: 35px;
    }

    .ufc-top-footer-middle-content {
        margin-top: 25px;
    }

    .ufc-top-footer-right-content {
        margin-top: 20px;
    }

    .ufc-top-footer-middle-content,
    .ufc-top-footer-right-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .ufc-footer-area {
        padding: 50px 0 0;
    }

    .ufc-hero-left-text-content {
        padding-top: 0;
    }

    .single-ufc-our-offer.flex {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .all-ufc-product-content {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    }

    .single-ufc-product-img img {
        height: 100px;
    }

    .single-ufc-product-img-text {
        padding-bottom: 65px;
    }

    .ufc-product-filter-button button {
        font-size: 13px;
        padding: 10px 15px;
    }


}